body {
  background-color: black;
  color: white;
}
form > input {
  margin: auto;
  margin-top: 20px;
  display: block;
}
input {
  width: 200px;
  height: 40px;
}
::placeholder {
  text-align: center;
}
.Log {
  text-align: center;
}
div > input {
  margin-top: 20px;
}
form > button {
  margin-top: 20px;
}
button {
  margin-right: 20px;
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  color: red;
  border: none;
}
